:root {
  --primary-color-navyblue: #2e2f42;
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-lightslate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navybluemodal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}
/* Base styles */
body {
  font-family: Roboto, sans-serif;
  color: var(--color-slate);
  background-color: var(--color-white);
}
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header styles */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-item-list {
  display: flex;
  gap: 40px;
}
.header-logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  margin-right: 76px;
}
.link {
  text-decoration: none;
}
.header-logo-blue {
  color: var(--primary-color-navyblue);
}
.list {
  list-style: none;
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-color-navyblue);
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus {
  color: var(--color-ocean);
}
.header-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current.header-link {
  color: var(--color-ocean);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current.header-link::after,
.header-link:hover::after,
.header-link:focus::after {
  background-color: var(--color-ocean);
}
.address {
  font-style: normal;
}
.address-list {
  display: flex;
  gap: 40px;
  align-items: center;
  padding-left: 0;
}
.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: var(--color-ocean);
}

/* Hero styles */
.hero {
  background-color: var(--primary-color-navyblue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}
.section-hero {
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-align: center;
  color: var(--color-white);
  margin-bottom: 48px;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
}
.hero-btn {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--color-iris);
  cursor: pointer;
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--color-ocean);
}
/* Portfolio. Filter styles */
.filter-btn {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration: none;
  cursor: pointer;
  color: var(--color-iris);
  background-color: var(--color-cloud);
  padding: 12px 24px 12px 24px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Portfolio styles */
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-img {
  display: block;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(100%);

  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--color-iris);

  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-overlay {
  color: var(--color-cloud);
}
.card-text-box {
  position: relative;
  overflow: hidden;
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0);
}
.portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color-navyblue);
  margin-bottom: 8px;
}
.portfolio-uppertitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

/* Our Work styles*/
.section-ourwork {
  padding-top: 120px;
  padding-bottom: 120px;
}
.ourwork-list-block {
  display: flex;
  gap: 24px;
}
.ourwork-list {
  width: calc((100% - 72px) / 4);
}
.icon-ourwork {
  display: flex;
  height: 112px;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  background: #f4f4fd;
  border-radius: 4px;
}
.work-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color-navyblue);
  margin-bottom: 8px;
}
.work-uppertitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
/* We Doing styles */
.wedoing {
  padding-bottom: 120px;
}
.wedoing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--primary-color-navyblue);
  margin-bottom: 72px;
}
.wedoing-list-block {
  display: flex;
  gap: 24px;
}
.wedoing-list {
  width: calc((100% - 48px) / 3);
}
.wedoing-img {
  display: block;
}
/* Our Team styles */
.ourteam {
  background-color: var(--color-cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}
.ourteam-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--primary-color-navyblue);
  margin-bottom: 72px;
}
.ourteam-list-block {
  display: flex;
  gap: 24px;
}
.ourteam-item {
  background-color: var(--color-white);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.ourteam-img {
  display: block;
}
.ourteam-card-content {
  display: block;
  border-radius: 0px 0px 4px 4px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.ourteam-title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-color-navyblue);
  text-align: center;
  margin-bottom: 8px;
}
.ourteam-uppertitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  text-align: center;
  margin-bottom: 8px;
}
.ourteam-icon-block {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.ourteam-link-icon {
  width: 40px;
  height: 40px;
}
.ourteam-link-social {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ourteam-link-social:focus,
.ourteam-link-social:hover {
  background-color: #404bbf;
}
.ourteam-social-icon {
  fill: #f4f4fd;
}
/* Customers */
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--primary-color-navyblue);
  margin-bottom: 72px;
}
.customers-list-block {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
  height: 88px;
}
.customers-list {
  width: 168px;
  height: 88px;
}
.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
  color: var(--color-ocean);
}
.customers-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--color-lightslate);
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon {
  fill: currentColor;
}
/* Footer styles */
.footer {
  background-color: var(--primary-color-navyblue);
}
.section-footer {
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-list {
  display: flex;
  align-items: baseline;
}
.footer-block {
  margin-right: 120px;
}

.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-iris);
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-cloud {
  color: var(--color-cloud);
}
.footer-uppertitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
  max-width: 264px;
}
.footer-block-social {
  width: 208px;
  margin-right: 80px;
}
.footer-uppertitle-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 16px;
}
.footer-list-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.footer-link {
  width: 40px;
  height: 40px;
}
.footer-link-social {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--color-iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-social:hover,
.footer-link-social:focus {
  background-color: var(--color-green);
}

.footer-social-icon {
  fill: #f4f4fd;
}
/* Subscribe form */
.subscribe-form-container {
}
.subscribe-text {
  color: var(--color-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.subscribe-form {
  display: flex;
  align-items: center;
  gap: 24px;
}
.subsribe-email-text {
  background-color: var(--primary-color-navyblue);
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  color: var(--color-white);
}
.subsribe-email-text::placeholder {
  color: var(--color-white);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
.subscribe-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  background-color: var(--color-iris);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--color-ocean);
}
.submit-text {
  color: var(--color-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.footer-label {
}

/*Modal Window  */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  width: 408px;
  height: 584px;
  left: 50%;
  top: 50%;
  padding: 72px 24px 24px;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  background-color: var(--color-dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.backdrop .is-hidden .modal {
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}
.modal-btn {
  position: absolute;
  display: block;
  right: 24px;
  top: 24px;
  background-color: #e7e9fc;
  fill: var(--color-navybluemodal);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--color-ocean);
  fill: var(--color-white);
}
.text-contact-form {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-color-navyblue);
  margin-bottom: 16px;
}
.contact-form {
}
.modal-form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  color: var(--color-lightslate);
  margin-bottom: 4px;
}
.modal-form-wrapper {
  position: relative;
  margin-bottom: 8px;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  padding: 0 38px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus,
.modal-form-input:hover {
  outline-color: var(--color-iris);
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  fill: currentColor;
}
.modal-form-input:focus + .modal-form-icon,
.modal-form-input:hover + .modal-form-icon {
  fill: var(--color-iris);
}
.modal-form-comment {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  padding-top: 8px;
  padding-left: 16px;
  margin-bottom: 16px;
}
.modal-form-comment:focus,
.modal-form-comment:hover {
  outline-color: var(--color-iris);
}
.modal-form-comment::placeholder {
}
.modal-form-privacy {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}
.modal-form-privacy-box {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23F4F4FD'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
  cursor: pointer;
}
.modal-form-privacy-box:checked {
  background-color: var(--color-ocean);
  border-color: 1px solid var(--color-ocean);
  background-size: 10px;
}
.modal-form-privacy-unchecked {
  opacity: 1;
}
.modal-form-privacy-box:checked
  + .modal-form-privacy-icon
  > .modal-form-privacy-unchecked {
  opacity: 0;
}
.modal-form-privacy-checked {
  opacity: 0;
}
.modal-form-privacy-box:checked
  + .modal-form-privacy-icon
  > .modal-form-privacy-checked {
  opacity: 1;
}
.modal-form-privacy-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  color: var(--color-lightslate);
}
.modal-form-privacy-link {
  color: var(--color-iris);
}
.send-contact-btn {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-lightslate);
  background-color: var(--color-iris);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 169px;
  height: 56px;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.send-contact-btn:hover,
.send-contact-btn:focus {
  background-color: var(--color-ocean);
}
